body {
    font-family: sans-serif;
}

header{
    background-color: seagreen;
    padding:2px;
    width:200px;
}

header .link-header{
    font-size: 25px;
    color: white;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:40px;
    background-image: linear-gradient(rgb(41, 111, 202), green);
    border-radius: 20px;
}

.social{
    margin: 100px;
}

footer{
    background-color: teal;
    height: 100px;
    border: 5px solid black;
    border-radius: 20px;
    padding-top: 30px;
}

p{
    color: purple;
    font-size: 23px;
    border-bottom:4px dotted green;
}

.link-nav{
    font-size: 22px;
    color: indigo;
    margin: 80px;
    background-color: lightgreen;
}

.link-nav:hover{
    font-size: 25px;
    color: rgb(0, 9, 130);
    background-color: rgb(238, 216, 144);
    
}
